<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Brascubas</title>
  <script src="camera/camera.js"></script>
  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
</head>
<body>

<h1>
  Welcome to Brascubas
</h1>

<button>Create Room</button>
<button id="connect">Connect</button>
<textarea></textarea>

<input id="client-input">
<button id="send">Send</button>
<textarea></textarea>

<div>
  <input id="client"/>
  <button></button>
</div>

<div>
  <button id="connect">Connect</button>
</div>

</body>
</html>
