body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

	header {
		padding: 25px;
	}

	.content {
		display: flex;
		flex: 1;
	}

		.conversation {
			width: 100%;
		}

	footer {
		margin: 25px;
	}

		.status {
			width: 100%;
			text-align: center;
		}
