body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

	header,
	footer,
	.content {
		padding: 25px;
	}

	.content {
		flex: 1;
		position: relative;
	}

		.compose {
			width: 100%;
		}

			.message,
			.compose button {
				height: 50px;
			}

			.compose button {
				width: 100px;
			}

		.status {
			width: 100%;
			text-align: center;
		}
