<!DOCTYPE html>

<html>
<head>
	<title>Brascubas</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="public/styles/index.css">
</head>
<body>
	<div id="setup">
		<h1></h1><!-- Peer ID -->
		<input id="client" />
		<button>Connect</button>
		<textarea></textarea>
	</div>

	<script src="public/vendor/peer.js" type="text/javascript"></script>
	<script src="public/vendor/coffee-script.js" type="text/javascript"></script>
	<script src="public/index.coffee" type="text/coffeescript"></script>
</body>
</html>
