<!DOCTYPE html>

<html>
<head>
	<title>Brascubas</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="public/styles/index.css">
</head>
<body>
	<header>
		Your ID is <span class="local-id"></span>

		<input class="partner-id" />
		<button>Connect</button>
	</header>

	<div class="content">
		<input class="conversation"></input>
	</div>

	<footer>
		<div class="status"></div>
	</footer>

	<script src="public/vendor/peer.js" type="text/javascript"></script>
	<script src="public/vendor/coffee-script.js" type="text/javascript"></script>
	<script src="public/index.coffee" type="text/coffeescript"></script>
</body>
</html>
